Import Libraries

In [12]:
import sqlite3
import requests
from tqdm import tqdm

from flask import Flask, request
import json 
import numpy as np
import pandas as pd

# Introduction
In most cases when we are running a business, there are a lot of data stakeholder outside our company. The problem is that we need to provide the access in a way that they will not break our security rules or concerns. One way to solve that is by creating an API for the database. In this project, we will introduce you on how python is used for data transaction management using Flask API. 

**Usecase**: Bikeshare App\
Have you ever rent a bike for faster mobility in town? In the past few years, this business once become a phenomenom. In Indonesia, there are lots of similar services, for example, the Jakarta government's "GOWES" bike sharing service that launcehd in July 2020. 

For the user perspective, the general journey is denoted as follows:
- User scan the bike located at some bike station, sending the data to database as the intent of "start riding"
- Once user has reached its destination station, he/she put back the bike, sending the data again to the database as the intent of "finished riding"

For each activity, there are data transactions between user and database. And how do you think each user's phone communicate with the server for storing and receiving the data? Using API ofcourse! 

We will later create a simplified version of the API service which handles data transactions and analysis. 


**Goals**: Make an API service to connect 3rd party user with data using HTTP request

**End Product**: A Flask API which capable of doing: 
- Input new data to database
- Read specific data from database
- Get specific insight from data analysis process (ie: best performing stations)

**Scoring Metrics**: 

1. 1 point - Created Flask App

-  create app.py file to make flask app
-  create Flask app to execute all of the endpoint you have made

2. 2 points - Created functionality to read or get specific data from the database

- create query to read data from database
- create function to execute read specific information into table from database

3. 4 points - Created functionality to input new data into each table for the databases

- create query to insert new data into stations and trips table
- create function to execute input data into stations and trips table

4. 3 points - Created static endpoints which return analytical result (must be different from point 2,3)

- create query to make analytical resultfrom the data
- create static endpoint to analyze the data from database, for example average trip durations
    
5. 3 points - Created dynamic endpoints which return analytical result (must be different from point 2,3,4)

- create query to make analytical resultfrom the data
- create dinamic endpoint to analyze the data from database, for example average trip durations for each bike_id

6. 3 points - Created POST endpoint which receive input data, then utilize it to get analytical result (must be different from point 2,3,4,5)

- create input data for refering into query for post endpoint
- make query and aggregation function to implement the input

**Tools**: 
- **Python** with **Jupyter Notebook**, installed with **required libraries**
- **Visual Studio Code (VSCode)**: Recommended for writing application scripts
- **TablePlus**: Recommended for easy database access and exploration
- Postman: Optional for easy API testing

# About the Data

The data that we will be using in this project is **[Austin Bike Share]()** dataset which contains information on bike trip start location, stop location, duration, type of bike share user in the city of Austin, Texas. Bike station location data is also provided. 

All the information is stored in a database called **austin_bikeshare.db**. However, we also provides the non existing data in csv files. These data then will be imported into the database using the API

Lists of files:
- **austin_bikeshare.db**: The database, contains `trips` and `stations` table
- **data/austin_bikeshare_stations.csv**: contains all the stations information which is not yet available in the database table
- **data/austin_bikeshare_trips_2021.csv**: contains all 2021 data which is not yet available in the database table

In [13]:
# Reading the csv data
trips = pd.read_csv('data/austin_bikeshare_trips_2021.csv')
stations = pd.read_csv('data/austin_bikeshare_stations.csv')

## Taking a look for trips data
`trips` table in database, or `austin_bikeshare_trips.csv` in original files. It roughly consisted of 1.3 million rows

In [3]:
trips.head()

,trip_id,subscriber_type,bikeid,start_time,start_station_id,start_station_name,end_station_id,end_station_name,duration_minutes
0,23455589,Local365,174,2021-01-26 17:47:42 UTC,4059.0,Nash Hernandez/East @ RBJ South,3660.0,East 6th/Medina,7
1,23459960,Local365,19265,2021-01-28 08:03:52 UTC,4054.0,Rosewood/Chicon,4055.0,11th/Salina,16
2,23436548,Local365,18331,2021-01-21 07:09:48 UTC,4055.0,11th/Salina,4055.0,11th/Salina,25
3,23382542,Local365,19682,2021-01-04 09:38:18 UTC,4062.0,Lakeshore/Pleasant Valley,3293.0,East 2nd/Pedernales,5
4,23374882,Local365,19437,2021-01-02 15:04:01 UTC,3293.0,East 2nd/Pedernales,4062.0,Lakeshore/Pleasant Valley,5

**Data Descriptions**:
- `bikeid`: integer id of bike
- `checkout_time`: HH:MM:SS, see start time for date stamp
- `duration_minutes`: int minutes of trip duration
- `endstationid`: integer id of end station
- `endstationname`: string of end station name
- `month`: month, integer
- `startstationid`: integer id of start station
- `startstationname`: string of start station name
- `start_time`: YYYY-MM-DD HH:MM:SS
- `subscriber_type`: membership typ e.g. walk up, annual, other bike share, etc
- `trip_id`: unique trip id int
- `year`: year of trip, int

## Taking a look for stations data
`stations` table in database, or `austin_bikeshare_stations.csv` in original files

In [4]:
stations.tail(3)

,station_id,name,status,address,alternate_name,city_asset_number,property_type,number_of_docks,power_type,footprint_length,footprint_width,notes,council_district,modified_date
95,3794,Dean Keeton & Speedway,active,180 E. Dean Keeton St.,NaN,32670.0,undetermined_parking,19.0,solar,55.0,5.0,NaN,9,2021-01-04T12:00:00Z
96,3795,Dean Keeton & Whitis,active,300 W. Dean Keeton St.,NaN,32671.0,undetermined_parking,19.0,solar,55.0,5.0,NaN,9,2021-01-04T12:00:00Z
97,3797,21st & University,active,2007 University Ave.,NaN,32674.0,undetermined_parking,19.0,solar,55.0,5.0,ROW might belong to UT,9,2021-01-04T12:00:00Z

**stations table (or austin_bikeshare_trips.csv)**:
- `station_id`: integer id of station
- `name`: string of station name
- `status`: string of station status (active, closed, moved, ACL-only)
- `address`: string of station address
- `alternate_name`: string of station alternative name
- `city_asset_number`: integer of station's asset number
- `property_type`: string of station's property type
- `number_of_docks`: integer of number of available bike docks
- `power_type`: string of station's power source type
- `footprint_length`: float of station' blueprint length (size of the station). Probably in meters
- `footprint_width`: float of station' blueprint width (size of the station). Probably in meters
- `notes`: string of additional notes
- `council_district`: integer of stations's council district
- `modified_date`: date of last modified information regarding the station

# Database

The first important task is to make sure we can securely make connections to the database. In this scenario, we will connect to sqlite database, `austin_bikeshare.db` via python. In this part, we will re-visit on how to work with databases, started with making a connection, get some data, and insert data into it. 

You can directly connect and view the database using TablePlus, or run the following code to create the connection

In [5]:
# Define a function to create connection for reusability purpose
def make_connection():
    connection = sqlite3.connect('austin_bikeshare.db')
    return connection

# Make a connection
conn = make_connection()

## POST: Insert data into database

Generally, POST method will utilize the data sent by user for specific purporse, for example: 

- Insert new data into the database. 
- Operate the data into some function

We will learn how to insert data into a specific table in our database. Please refer to the following code to create and run the query for the given task

In [6]:
# Get the data values
data = tuple(stations.iloc[4].fillna('').values)

# Make the query
query = f"""
INSERT INTO stations
VALUES {data}
"""

In [7]:
# See the actual query looks like
print(query)

INSERT INTO stations
VALUES (2541, 'State Capitol @ 14th & Colorado', 'closed', '206 W. 14th St.', '', '', '', '', '', '', '', '', 1, '2021-01-04T12:00:00Z')

In [8]:
# Execute the query 
conn.execute(query)

IntegrityError: UNIQUE constraint failed: stations.station_id

In [ ]:
# Commit changes to database
conn.commit()

Once the code above succesful, it's recomended to wrap it into a function so that we can reuse it in the future. Complete the following codes to make the function:

In [ ]:
def insert_into_stations(data, conn):
    query = f"""INSERT INTO stations values {data}"""
    try:
        conn.execute(query)
    except:
        return 'Error'
    conn.commit()
    return 'OK'

In [ ]:
# Example use of the function 
conn = make_connection()
data = tuple(stations.iloc[6].fillna('').values) # Randomly select a data
result = insert_into_stations(data, conn)

In [ ]:
result

**TASK: Create a Function to insert data for `trips` table**

In [ ]:
# Your code here
def insert_into_trips(data_trip, conn):
    query_trips = f"""insert into trips values {data_trip}"""
    try:
        conn.execute(query_trips)
    except:
        return 'Trip eror'
    conn.commit()
    return 'Trip ok'

data_trip = tuple(trips.iloc[8].fillna('').values)
conn = make_connection()
result_trips = insert_into_trips(data_trip, conn)

In [ ]:
result_trips

## GET: Read specific data

Generally, GET method will ask for specific the data in the database, alongside with additional information we might send. For example: 
- Get number of unique user
- Get full trips information for specific user id
- Get average trips duration and length for specific user id

In this example, we will implement the most basic GET method, that is to get Station information in the table based on specific Station ID

In [ ]:
# Get Specific Station ID  Query
station_id = 2541
query_station_id = f"""
SELECT * FROM stations
WHERE station_id = {station_id}
"""

# Get all station ID Query
query_station_all = "SELECT * FROM stations"

In [ ]:
print(query_station_id)

In [ ]:
# Run the query and get the result
result = pd.read_sql_query(query_station_id, conn)

In [ ]:
result

Just like the previous section, create a function to read specific station

In [ ]:
def get_station_id(station_id, conn):
    query = f"""SELECT * FROM stations WHERE station_id = {station_id}"""
    result = pd.read_sql_query(query, conn)
    return result 

def get_all_stations(conn):
    query = f"""SELECT * FROM stations"""
    result = pd.read_sql_query(query, conn)
    return result

**TASK: Create a Function to read data from `trips` table**

In [ ]:
# Your code here
def get_trip_id(trip_id, conn):
    query_trip = f"""select * from trips where id = {trip_id}"""
    result_1 = pd.read_sql_query(query_trip,conn)
    return result_1
    
def get_all_trips(conn):
    query_trip_1 = """select * from trips"""
    result_1 = pd.read_sql_query(query_trip_1,conn)
    return result_1

In [ ]:
get_trip_id(23442084,conn)

In [ ]:
get_all_trips(conn)

# Flask App

Flask is a micro-framework for python. Generally we can build any application out of it. To start with, let's make our first empy flask app. 
Creata a new file `app.py`, then copy-paste the following codes into it and save it. 

*Notes: it's recomended to use vscode as editor since it support vast linting supports, including python which we find really helpful in coding*

```python
from flask import Flask, request
app = Flask(__name__) 

if __name__ == '__main__':
    app.run(debug=True, port=5000)
```

To run the app, you can open your terminal, go to the specific folder and run `python app.py` using your designated virtual environment

## Routes and Endpoints

### Implement endpoints

If you succesfully run the previous app and access the localhost:5000 , you might get an 404 not found error. This is because we **have not** define yet what will happen if people accessing our root path of the app (localhost:5000/)

Add the following example of route or endpoint into your `app.py` just before the `if __name__ === '__main__':` line, and reload the page to see if it works

```python 
@app.route('/')
def home():
    return 'Hello World'
```

Above endpoints will runs the `home` function anytime user access the `/` page.

Since we are going to handle all the requests through this app, the very next step is to implement our functionalites. Let's start with implementing the functionality to read all station data

we will add the `get_all_stations()` functions into our app, create a `@app.route('/stations/')` endpoint and call the function in it. The code should looks like:

```python 
@app.route('/stations/')
def route_all_stations():
    conn = make_connection()
    stations = get_all_stations(conn)
    return stations.to_json()
    
def get_all_stations(conn):
    query = f"""SELECT * FROM stations"""
    result = pd.read_sql_query(query, conn)
    return result
```

However, adding just above codes is not enough. If you see, there is a dependency inside the function, which is `make_connection()` function. Other than that, we will be using all the required libraries. 

Hence, we can complete the code by : 
- import the required libraries at the top of the `app.py` file
- write the `make_connection()` function before any routes declarations

Once it's completed, you should see no errors in the vscode screen, and your endpoint should work just fine and returns all the stations. It's now your task to impelement the `get_all_trips` into the app

**TASK: Implement `get_all_trips()` method into the app** \
Place it under `@app.route('/trips/')` endpoint

# your code

@app.route('/trips/')
def route_all_trips():
    conn = make_connection()
    tripd = get_all_trips(conn)
    return tripd.to_json()

### Access Endpoints

To access our endpoints using python, simply use `requests` library followed by the request method (post, get, put, delete, etc) the passed in the url or data

In [ ]:
url = 'http://127.0.0.1:5000/trips/'
res = requests.get(url)

In [ ]:
res

The response sent by the server was not only contains bare data. It was packed as HTTP response, meaning that we need to unpack the response first  in order to get the data. we can use `res.json()` to obtain it, then use pandas to transform it into dataframe for readibility or future analysis purposes.

In [ ]:
pd.DataFrame(res.json())#.head()

## Static and Dynamic Endpoints

On previous part we already made several endpoints which control how our server will react whenever users access it. 
If we take a look at the endpoints, it's all static : 
- `@app.route('/')`
- `@app.route('/home/')`
- `@app.route('/stations/')`
- `@app.route('/trips/')`


What if, instead of getting all the stations information, we only wanted to read a specific station information of station_id 3464 ? \
should we make an excact endpoint of that like `@app.route('stations/3464')`?. But what about the others? are we going to make a bunch of endpoints for each specific id like: 
- `@app.route('/stations/3464')`
- `@app.route('/stations/2500')`
- `@app.route('/stations/2541')`
- and so on...

Of course we shouldn't. One way to overcome the problem is by delcaring a **dynamic endpoints**. Basically, it's an endpoint which allows user to insert a variable values in it. The final looks of the dynamic endpoint version of above problem is: 
- `@app.route('stations/<station_id>')`

From above endpoint, the \<station_id\> is the variable, and we need to make sure that it influence how our following function acts. The whole dynamic endpoints for getting specific station by its id will looks like: 

```python 
@app.route('/stations/<station_id>')
def route_stations_id(station_id):
    conn = make_connection()
    station = get_station_id(station_id, conn)
    return station.to_json()
```

Before accesing the endpoint, make sure that `make_connection()` and `get_station_id()` functions are included inside `app.py` script so that it won't raise an error. Now for the final step, we can try to access the dynamic endpoints by changing the `station_id` in the following codes

In [ ]:
station_id = 2541
url = f"http://127.0.0.1:5000/stations/{station_id}"

In [ ]:
response = requests.get(url)

In [ ]:
response

In [ ]:

pd.DataFrame(response.json())

**TASK: Implement dynamic endpoints to read specific trip by its trip_id!** \
Place it under `@app.route('/trips/<trip_id>')` endpoint

## Handling JSON data as input

Sometimes, in order to make something happens in our API, we need the user to send us the data. In this case, we need to handle how we can get the data (which mostly sent as json format) and utilize it inside our endpoint functions. 

In order to achieve that, we will be using flask's `request` classes.


```python
@app.route('/json') 
def json_example():
    
    req = request.get_json(force=True) # Parse the incoming json data as Dictionary
    
    name = req['name']
    age = req['age']
    address = req['address']
    
    return (f'''Hello {name}, your age is {age}, and your address in {address}
            ''')
```

In [8]:
data = {
    "name" : "Andi", 
    "age" : 24,
    "address" : "my adress"
}

url = "http://127.0.0.1:5000/json"

In [31]:
res = requests.post(url, json=data)

In [28]:
res

In [18]:
res.text

'{"start_station_id":{"0":2494,"1":2495,"2":2496,"3":2497,"4":2498,"5":2499,"6":2501,"7":2503,"8":2504,"9":2537,"10":2539,"11":2542,"12":2544,"13":2547,"14":2548,"15":2549,"16":2552,"17":2561,"18":2562,"19":2563,"20":2565,"21":2566,"22":2567,"23":2568,"24":2569,"25":2570,"26":2571,"27":2572,"28":2574,"29":2575,"30":2707,"31":2711,"32":2822,"33":2823,"34":3291,"35":3292,"36":3293,"37":3294,"38":3377,"39":3390,"40":3455,"41":3513,"42":3619,"43":3621,"44":3660,"45":3684,"46":3685,"47":3686,"48":3687,"49":3790,"50":3791,"51":3792,"52":3793,"53":3794,"54":3795,"55":3797,"56":3798,"57":3799,"58":3838,"59":3841,"60":4047,"61":4048,"62":4050,"63":4051,"64":4052,"65":4054,"66":4055,"67":4057,"68":4058,"69":4059,"70":4060,"71":4061,"72":4062,"73":4699,"74":4879},"AVG(duration_minutes)":{"0":34.5810810811,"1":118.404494382,"2":60.1549295775,"3":27.8013245033,"4":17.9534883721,"5":24.4571428571,"6":37.1522633745,"7":38.6142857143,"8":33.2280701754,"9":50.1794871795,"10":29.8777429467,"11":40.6826923077,"12":38.1234567901,"13":30.1219512195,"14":33.1414141414,"15":54.8673469388,"16":24.5528169014,"17":30.8571428571,"18":37.0333333333,"19":38.8074534161,"20":19.3611111111,"21":39.8847457627,"22":40.6684782609,"23":30.775862069,"24":17.9181818182,"25":25.1555555556,"26":40.1272727273,"27":41.9827586207,"28":51.1477272727,"29":41.8364197531,"30":41.1114369501,"31":35.1440677966,"32":26.0,"33":35.5689655172,"34":29.4890510949,"35":68.4181818182,"36":38.9636363636,"37":62.7222222222,"38":42.34,"39":18.125,"40":35.5779816514,"41":40.9476744186,"42":19.4423076923,"43":32.7450980392,"44":31.8956521739,"45":32.5588235294,"46":23.8988764045,"47":41.3410852713,"48":40.976744186,"49":27.3883495146,"50":40.1216216216,"51":23.3689320388,"52":22.2462908012,"53":59.0571428571,"54":27.8441558442,"55":26.1759259259,"56":23.9395770393,"57":29.2325581395,"58":27.4641148325,"59":22.4585987261,"60":20.8620689655,"61":23.7984496124,"62":41.962962963,"63":24.1333333333,"64":30.2608695652,"65":32.3636363636,"66":29.78125,"67":26.15625,"68":27.4666666667,"69":47.7142857143,"70":33.0925925926,"71":46.9878419453,"72":57.550660793,"73":62.8823529412,"74":94.3125},"COUNT(id)":{"0":148,"1":89,"2":71,"3":151,"4":172,"5":105,"6":243,"7":70,"8":57,"9":78,"10":319,"11":104,"12":81,"13":246,"14":495,"15":196,"16":284,"17":63,"18":30,"19":161,"20":36,"21":295,"22":184,"23":58,"24":110,"25":45,"26":55,"27":116,"28":264,"29":324,"30":341,"31":118,"32":37,"33":58,"34":137,"35":55,"36":55,"37":18,"38":350,"39":88,"40":109,"41":172,"42":156,"43":153,"44":115,"45":68,"46":89,"47":129,"48":215,"49":103,"50":74,"51":206,"52":337,"53":70,"54":154,"55":108,"56":331,"57":258,"58":209,"59":314,"60":58,"61":129,"62":81,"63":15,"64":46,"65":44,"66":32,"67":64,"68":30,"69":168,"70":54,"71":329,"72":227,"73":17,"74":16}}'

Now that we already know how to handle json input, we can try to implement and endpoint in which we can insert new data into `stations` table.

```python

@app.route('/stations/add', methods=['POST']) 
def route_add_station():
    # parse and transform incoming data into a tuple as we need 
    data = pd.Series(eval(request.get_json(force=True)))
    data = tuple(data.fillna('').values)
    
    conn = make_connection()
    result = insert_into_stations(data, conn)
    return result


```

In [17]:
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

In [18]:
data = stations.iloc[21].fillna('').to_dict()
data_json = json.dumps(data, cls=NpEncoder)

In [19]:
url = "http://127.0.0.1:5000/stations/add"
res = requests.post(url, json=data_json)

In [20]:
res

In [21]:
res.text

'Error'

In [ ]:
# Sintaks for iteratively insert stations (from stations_csv) into stations table

for idx, data in tqdm(stations.iterrows()):
    data = data.fillna('').to_dict()
    data_json = json.dumps(data, cls=NpEncoder)
    
    url = "http://127.0.0.1:5000/stations/add"
    res = requests.post(url, json=data_json)

**TASK: Using the API, insert all the trips data (in csv) into the database by running the following codes**\
It might run differently on each devices, so you might get some rest while waiting for it to complete

In [ ]:
for idx, data in tqdm(trips.iterrows()):
    data = data.fillna('').to_dict()
    data_json = json.dumps(data, cls=NpEncoder)
    
    url = "http://127.0.0.1:5000/trips/add"
    res = requests.post(url, json=data_json)

In [ ]:
res

# Make your own analytic endpoints

Based on what we've learned before, create your own endpoints which returns analytical result such as contigency tables, aggregation tables, or even just a values.

*ps: if the return is dataframe/series, don't forget to change it into json with `.to_json()` method*


- [x] 1 point - Created Flask App
- [x] 4 points - Created functionality to input new data into each table for the databases
- [x] 2 poitns - Created functionality to read or get specific data from the database
- [ ] 3 points - Created static endpoints which return analytical result (must be different from point 2,3)
- [ ] 3 points - Created dynamic endpoints which return analytical result (must be different from point 2,3,4)
- [ ] 3 points - Created POST endpoint which receive input data, then utilize it to get analytical result (must be different from point 2,3,4,5)

## Create Static Endpoint(s)

You can use the following cell to try-out your function before implementing it as an endpoint.

After created the endpoint, make sure to implement it to `app.py` file.

In [ ]:
# Your Code Here 
def get_all_stations_statistics(conn):
    query = f""" SELECT station_id, COUNT(start_station_id) as StationStartCount, AVG(duration_minutes) AS Average_Duration
    FROM stations
    LEFT JOIN trips
    ON stations.station_id = trips.start_station_id
    GROUP BY station_id
    ORDER BY StationStartCount DESC
    """
    result = pd.read_sql_query(query, conn)
    return result

Code diatas digunakan untuk menghasilkan static endpoint yang bertujuang menghasilkan statistik/insight secara overall

```python
@app.route('/statistics/')
def route_all_statistics():
    conn = make_connection()
    statistics = get_all_stations_statistics(conn)
    return statistics.to_json()`
```

## Create Dynamic Endpoints

You can use the following cell to try-out your function before implementing it as an endpoint.

After created the endpoint, make sure to implement it to `app.py` file.

In [ ]:
# Your Code Here
@app.route('/trips/average_duration/<bike_id>')

def get_all_stations_statistics_end(conn):
    query = f""" SELECT station_id, COUNT(end_station_id) AS EndStationCount
    FROM stations
    LEFT JOIN trips
    ON stations.station_id = trips.start_station_id
    GROUP BY station_id
    ORDER BY EndStationCount DESC
    """,
    index_col = 'station_id'
    result = pd.read_sql_query(query, conn)
    return result

In [ ]:
@app.route('/statistics_end/')
def route_all_statistics_end():
    conn = make_connection()
    statistics = get_all_stations_statistics_end(conn)
    return statistics.to_json()

In [5]:
url = 'http://127.0.0.1:5000/statistics/'
res = requests.get(url)

In [6]:
res

In [7]:
pd.DataFrame(res.json()).head(40)

    station_id  StationStartCount  Average_Duration
0         2548                972         31.193416
1         3798                738         19.348238
2         3793                654         23.383792
3         3841                554         24.801444
4         2707                549         43.054645
5         2547                517         35.326886
6         4061                504         45.781746
7         2575                497         38.643863
8         2539                486         40.323045
9         3377                483         42.283644
10        2566                450         42.886667
11        2552                433         25.912240
12        3792                430         21.890698
13        3838                404         26.794554
14        2574                399         49.869674
15        4062                397         56.738035
16        2501                373         31.587131
17        3799                369         27.842818
18        3687                318         40.125786
19        3795                317         24.438486
20        2549                314         70.828025
21        2494                303         33.561056
22        2498                295         18.993220
23        4059                280         46.239286
24        2563                269         34.557621
25        3513                269         44.598513
26        2567                260         38.534615
27        3619                260         23.661538
28        2497                228         30.206140
29        3686                217         39.631336
30        3621                216         31.273148
31        4048                205         25.278049
32        3291                201         30.323383
33        3797                198         34.227273
34        3660                195         74.733333
35        2711                194         40.788660
36        2542                178         40.297753
37        2499                177         24.485876
38        3685                176         29.079545
39        2495                174         71.160920

In [9]:
url = 'http://127.0.0.1:5000/most_used_bike/19720'
res = requests.get(url)

In [10]:
res

In [11]:
pd.DataFrame(res.json())

  bikeid  JumlahPemakaian  Total_Waktu_Pemakaian
0  19720               78                   4109

## Create POST Endpoints

You can use the following cell to try-out your function before implementing it as an endpoint.

If you still find it quite difficult, here's an example case you might wanted to try on:
- input : a dictionary contained a datetime period
    - { "period" : "2015-08" }
- output:
    - Aggregation table of bike rent activities for each station in that specific period
- example code: 

```python 
input_data = request.get_json() # Get the input as dictionary
specified_date = input_data['period'] # Select specific items (period) from the dictionary (the value will be "2015-08")

# Subset the data with query 
conn = make_connection()
query = f"SELECT * FROM stations WHERE start_time LIKE ({specified_date}%)"
selected_data = pd.read_sql_query(query, conn)

# Make the aggregate
result = selected_data.groupby('start_station_id').agg({
    'bikeid' : 'count', 
    'duration_minutes' : 'mean'
})

# Return the result
return result.to_json()

```

After created the endpoint, make sure to implement it to app.py file.

In [ ]:
# Your Code Here
data =   { 
    "period" : "2021-01"
     }


url = "http://127.0.0.1:5000/trips/date"

In [ ]:
res = requests.post(url, json=data)

In [ ]:
pd.DataFrame(res.json()).head(40)

# Submission

After finishing your work of all the rubrics, the next step will be;

1. Prepare your `Bikeshare API.ipynb` file that has been edited with your code and wrangling data.
2. Prepare your `app.py` file for your Flask App. Make sure you have implemented all the endpoints to `app.py` (including your custom static, dynamic and post endpoints).
3. Submit your `Bikeshare API.ipynb` and `app.py` file in your github repository. The dataset is optional to post since it has big size to post.